.App {
  text-align: center;
}

.main-card {
  display: flex;
  flex-wrap: wrap;
  float: left;
  /* width: 200px;
  height: 500px; */
  margin-left: 30px;
  margin-bottom: 30px;
  gap: 30px;
}
.card-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button-style {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
